In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/diamond-dataset/diamonds.csv

In [2]:
df = pd.read_csv("/kaggle/input/diamond-dataset/diamonds.csv")
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [3]:
# one hot encoding for color codes
color_codes = df["color"].unique()
for color_code in color_codes:
    col_name = "color_is_" + color_code
    df[col_name] = (df["color"] == color_code).astype(int)
    
cuts = df["cut"].unique()
for cut in cuts:
    col_name = "cut_is_" + cut
    df[col_name] = (df["cut"] == cut).astype(int)
    
clarities = df["clarity"].unique()
for clarity in clarities:
    col_name = "clarity_is_" + clarity
    df[col_name] = (df["clarity"] == clarity).astype(int)
    
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,...,cut_is_Very Good,cut_is_Fair,clarity_is_SI2,clarity_is_SI1,clarity_is_VS1,clarity_is_VS2,clarity_is_VVS2,clarity_is_VVS1,clarity_is_I1,clarity_is_IF
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,...,0,0,1,0,0,0,0,0,0,0
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,...,0,0,0,1,0,0,0,0,0,0
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,...,0,0,0,0,1,0,0,0,0,0
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,...,0,0,0,0,0,1,0,0,0,0
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,...,0,0,1,0,0,0,0,0,0,0

In [4]:
train, test = train_test_split(df, test_size=0.2)

y_train = train["price"]
X_train = train[train.columns.difference(["price", "cut", "clarity", "color"])]